body{
	background-color: rgb(180, 180, 180);
}

h1{
	color: #000000;
	
	font-family: times new roman, arial;
}

h2{
	color: #000fff;
	
	font-family: times new roman, arial;
}

h3{
	color: #3b0303;

	font-family: times new roman, arial;
}

p{
	color: #bb00a8;
	
	font-family: times new roman, arial;
}

a:visited{
	color: aqua;
}